<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Create New Customer</h1>
    <form action="/create" method="post">

        <label>Full Name</label>
        <input type="text" name="fullName"><br><br>
        <label>Driver License No</label>
        <input type="text" name="driverLicNo"><br><br>
        <label>DOB</label>
        <input type="date" name="dob"><br><br>
        <label>Phone Number</label>
        <input type="text" name="phoneNo"><br><br>
        <label>Email</label>
        <input type="email" name="email"><br><br>
        <input style="background-color: aliceblue" type="submit" value="Create New Customer">
    </form>
</body>
</html>